@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Moderustic:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Moderustic:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Moderustic:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Moderustic:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Questrial&display=swap');

.playfair-font-200 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.playfair-font-300 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.playfair-font-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-font-500 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.playfair-font-600 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.playfair-font-700 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.playfair-font-800 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.playfair-font-900 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.playfair-font-1000 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.cormorant-garamond-100 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.cormorant-garamond-200 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.cormorant-garamond-300 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.cormorant-garamond-400 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cormorant-garamond-500 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.cormorant-garamond-600 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cormorant-garamond-700 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.cormorant-garamond-800 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.cormorant-garamond-900 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.cormorant-infant-100 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.cormorant-infant-200 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.cormorant-infant-300 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.cormorant-infant-400 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cormorant-infant-500 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.cormorant-infant-600 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cormorant-infant-700 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.cormorant-infant-800 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.cormorant-infant-900 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}